out
.vscode
.VSCodeCounter
test_result
mpp-cppcheck-build-dir
debian/.debhelper
debian/debhelper-build-stamp
debian/files
debian/mpp.substvars
debian/mpp
obj-riscv64-linux-gnu
*.code-workspace
#
build*/
ros2_ws/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
CTestTestfile.cmake
compile_commands.json
._*
.DS*
doc
.venv*
.claude*
CLAUUDE*
*.log
*.dmp
*.diff
