Source: mpp2
Section: unknown
Priority: optional
Maintainer: mengbinghan <binghan.meng@spacemit.com>
Build-Depends: cmake, debhelper (>=11~), libsdl2-dev
Standards-Version: 4.1.4
Homepage: <insert the upstream URL, if relevant>

Package: mpp2
Architecture: any
Multi-Arch: foreign
Depends: k1x-cam|k3x-cam,k1x-vpu-firmware|k3x-vpu-firmware, ${misc:Depends}, ${shlibs:Depends}
Description: SPACEMIT Media Processing Platform (dev branch)
 MPP development branch package for hardware-accelerated
 media processing on RISC-V systems.
